@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Button
	1.4 - Lists
	1.5 - Table
	1.6 - Form
2.0 - Navigation Menus
	2.1 - Main
	2.2 - Sub
	2.3 - Footer
3.0 - Content
	3.1 - Site Structure
	3.2	- Site Header
	3.3	- Site Footer
4.0 - Media
5.0 - Utility
	5.1 - Text Sizes
	5.2 - Colors
	5.3 - Alignments
6.0 - Media Queries
--------------------------------------------------------------*/

*, *:after, *:before { /*Fictitious elements, makes everything the same in regards to width, padding, and border*/
	-moz-box-sizing: border-box;
	-os-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font: 16px 'Roboto', sans-serif;
	color: #a7a9ac;
} 

/*--------------------------------------------------------------
>>> TYPOGRAPHY:
----------------------------------------------------------------*/

p {
	font-size: 1rem;
}

/*1.1 - Headings*/

h2 {
	font-weight: 700;
	font-size: 3rem;
	text-transform: uppercase;
	margin: 0 0 50px;
}

h3 {
	margin: 0;
	text-transform: uppercase;
	font-weight: 700;
}

h3+p {
	margin-top: 10px;
}

h3:nth-child(2), h3:last-child

#home p, #home p+ul li, #home p+ul li a {
	list-style: none;
	display: inline;
}

#about, #home {
	color: #fff;
}

#home p:first-child {
	font-size: 2rem;
	font-weight: 500;
	text-transform: uppercase;
	padding-bottom: 15px;
}

#home p:nth-child(2) {
	font-size: 1.5rem;
}



/*1.1 - Body Copy*/


/*1.1 - Buttons*/

#home p+ul li a {
	text-decoration: none;
}

#home p+ul li a {
	background-color: #272844;
	padding: 15px 30px;
}

#home p+ul li a:hover {
	color: #c4e3e2;
}

#home p+ul li:nth-child(2) a {
	padding: 15px 43px;
}

/*1.4 - Lists*/
#home p+ul li {
	padding-right: 25px;
}

#home p+ul {
	padding-top: 25px;
	text-align: left;
}

/*--------------------------------------------------------------
>>> 2.0 NAVIGATION MENUS:
----------------------------------------------------------------*/
/*2.1 - Main*/

nav ul, footer ul {
	list-style: none;
	margin-top: 25px;
	text-align: right;
}

nav ul li, footer ul li {
	display: inline;
	padding-right: 25px;
	text-transform: uppercase;
}

nav ul li a, footer ul li a {
	text-decoration: none;
}

nav ul li a:hover {
	color: #c4e3e2;
}





/*2.2 - Sub*/
/*2.3 - Footer*/




/*--------------------------------------------------------------
>>> CONTENTS:
----------------------------------------------------------------*/
/*3.1 - Site Structure*/
.wrapper {
	width: 75%;
	margin: 0 auto;
	
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.bg-lght-blue {
	background-color: #c4e3e2;
} 

#work, #about, footer {
	padding: 100px 0;
}

h1, ul {
	margin-bottom: 0;
}


/*BELOW NECESSARY FOR EVERY SITE FOLLOWING*/
[class*='col-'] {
	float: left;
	padding: 0 10px 20px 10px;
}

[class*='col-sm'] {
	float: none;
	padding: 0;
}
/*^^^^^^^^ABOVE NECESSARY FOR EVERY SITE FOLLOWING*/


.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33.33%;
}

.col-2-3 {
	width: 66.66%;
}

.col-1-4 {
	width: 25%;
}

.col-3-4 {
	width: 75%;
}

.col-1-5 {
	width: 20%;
}

.col-2-5 {
	width: 40%;
}

.col-3-5 {
	width: 60%;
}

.col-1-6 {
	width: 16.66%;
}

.col-5-6 {
	width: 83.3%;
}

.col-1-7 {
	width: 14.28%;
}

.col-2-7 {
	width: 28.57%;
}

.col-5-7 {
	width: 71.42%;
}

.col-1-8 {
	width: 12.5%;
}

.col-3-8 {
	width: 37.5%;
}

.col-5-8 {
	width: 62.5%;
}

.col-1-9 {
	width: 11.11%;
}

.col-4-9 {
	width: 44.44%;
}

.col-5-9 {
	width: 55.55%;
}

.col-1-10 {
	width: 10%;
}

.col-3-10 {
	width: 30%;
}

.col-7-10 {
	width: 70%;
}

.col-1-11 {
	width: 9.09%;
}

.col-4-11 {
	width: 36.36%;
}

.col-7-11 {
	width: 63.63%;
}

.col-1-12 {
	width: 8.33%;
}

.col-5-12 {
	width: 41.66%;
}

.col-7-12 {
	width: 58.31%;
}

.center-block {
	margin: 0 auto;
	text-align: center;
	float: none;
}

#bg-image {
	background: url(../img/header-bg-table-and-plants.jpg) no-repeat scroll center;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
    padding: 300px 0 60px;	
	margin: 0;
	width: 100%;
}

#home .col-3-4 {
	
}




/*--------------------------------------------------------------
4.0 - Media 
-------------------------------------------------------------- */

figure {
	display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
	
}

img {
	max-width: 100%;
}

#work ul {
	list-style: none;
}

#work li {
	padding-right: 30px;
}

#work li a {
	width: 25px;
	height: 25px;
}

#work section ul li:first-child a {
	background: url(../img/icon-fb.png)
}

#work section ul li:last-child a {
	background: url(../img/icon-twitter.png)
}

#work li a:hover {
	background-position: 0 -25px;
}


/*--------------------------------------------------------------
>>> 6.0 RESPONSIVE/MEDIA QUERIES:
----------------------------------------------------------------
/*6.2 - SMALL DISPLAY--smaller than tablet*/

@media screen and (max-width: 480px) {
	.wrapper {
		width: 98%
	}
	
	[class*='col-sm-'] {
		float: left;
		padding: 0 10px 20px 10px;
	}

	
	.col-3-4 {
		width: 75%;
	}
	
	.col-1-6, .col-1-9 {
		width: 33.33%;
	}
	
	.col-5-6, .col-sm-2-3 {
		width: 66.66%;
	}
	
	.col-1-7, .col-1-12, .col-1-4 {
		width: 100%;
	}
	
	.col-1-8, .col-1-12 {
		width: 25%;
	}
	
	.col-1-10 {
		width: 50%;
	}
	
	.col-sm-1-3 {
		width: 33.33%;
	}
	
	
} 







