@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.3 - Button
	1.4 - Lists
	1.5 - Table
	1.6 - Form
2.0 - Navigation Menus
	2.1 - Main
	2.2 - Sub
	2.3 - Footer
3.0 - Content
	3.1 - Site Structure
4.0 - Media
5.0 - Utility
	5.1 - Text Sizes
	5.2 - Colors
	5.3 - Alignments
6.0 - Media Queries
7.0 Flex
--------------------------------------------------------------*/

*, *:after, *:before { /*Fictitious elements, makes everything the same in regards to width, padding, and border*/
	-moz-box-sizing: border-box;
	-os-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #a7a9ac;
	margin: 0;
} 

html {
	font: 16px 'Roboto', sans-serif;
}

/*--------------------------------------------------------------
>>> TYPOGRAPHY:
----------------------------------------------------------------*/

p {
	font-size: 1rem;
}

h2, h3, h4, header p:first-child, #about header+p, nav ul li, footer ul li {
	text-transform: uppercase;
}

h2, h3, #about header+p {
	font-weight: 700;
}

header p+ul, footer p {
	text-align: left;
}

.algn-rght {
	text-align: right;
}

footer * {
	font-size: .85rem;
	color: #fff;
}

/*1.1 - Headings*/
h2 {
	font-size: 3rem;
	margin: 0 0 50px;
}

h3 {
	margin: 0;
}

h4 {
	font-weight: 400;
}

#bg-image *, #about h3, #about p {
	color: #fff;
}

h2, h3, h4 {
	color: #c4e3e2;
}


header li, header a, nav ul {
	list-style: none;
}

header p:first-child {
	font-size: 2rem;
	font-weight: 500;
	padding-bottom: 15px;
}

header p:nth-child(2) {
	font-size: 1.5rem;
}

/*1.1 - Buttons*/

nav li a:hover, #bg-image a:hover, footer p a:hover {
	color: #c4e3e2;
}

header p+ul li a:hover {
	background-color: #c4e3e2;
	color: #fff;
}

a {
	text-decoration: none;
	text-transform: uppercase;
}

header p+ul li a {
	background-color: #272844;
	padding: 15px 30px;
	color: #fff;
}

header p+ul li:nth-child(2) a {
	padding: 15px 43px;
}

/*1.4 - Lists*/

header p+ul li {
	padding-right: 25px;
}

header p+ul {
	padding-top: 25px;
}

/*--------------------------------------------------------------
>>> 2.0 NAVIGATION MENUS:
----------------------------------------------------------------*/
/*2.1 - Main*/

footer ul {
	margin-top: 25px;
}

nav ul li, footer ul li {
	display: inline;
	padding-right: 25px;
}



/*--------------------------------------------------------------
>>> 3.0 CONTENT:
----------------------------------------------------------------*/
/*3.1 - Site Structure*/
.wrapper {
	width: 75%;
	margin: 0 auto;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

#work, #about, footer {
	padding: 300px 0;
}

h1, ul {
	margin-bottom: 0;
}

footer p {
	width: 17%;
	margin-left: 50px;
}

header ul {
	margin-top: 50px;
}

#about li a, #about li, header li, header a {
	display: inline-block;
}

ul {
	padding: 0;
}

#work section {
	margin-top: 50px;
}

/*BELOW NECESSARY FOR EVERY SITE FOLLOWING*/
[class*='col-'] {
	float: left;
	padding: 0 10px 20px 10px;
}

/*^^^^^^^^ABOVE NECESSARY FOR EVERY SITE FOLLOWING*/

[class*='col-sm'] {
	float: none;
	padding: 0;
}

[class*='col-lg'] {
	float: right;
}

.col-1-2 {
	width: 50%;
}

.col-1-3, [class*='col-lg'] {
	width: 33.33%;
}

.col-2-3 {
	width: 66.66%;
}

.col-1-4 {
	width: 25%;
}

.col-3-4 {
	width: 75%;
	margin-top: -15px;
}

.col-1-5 {
	width: 20%;
}

.col-2-5 {
	width: 40%;
}

.col-3-5 {
	width: 60%;
}

.col-1-6 {
	width: 16.66%;
}

.col-5-6 {
	width: 83.3%;
}

.col-1-7 {
	width: 14.28%;
}

.col-2-7 {
	width: 28.57%;
}

.col-5-7 {
	width: 71.42%;
}

.col-1-8 {
	width: 12.5%;
}

.col-3-8 {
	width: 37.5%;
}

.col-5-8 {
	width: 62.5%;
}

.col-1-9 {
	width: 11.11%;
}

.col-4-9 {
	width: 44.44%;
}

.col-5-9 {
	width: 55.55%;
}

.col-1-10 {
	width: 10%;
}

.col-3-10 {
	width: 30%;
}

.col-7-10 {
	width: 70%;
}

.col-1-11 {
	width: 9.09%;
}

.col-4-11 {
	width: 36.36%;
}

.col-7-11 {
	width: 63.63%;
}

.col-1-12 {
	width: 8.33%;
}

.col-5-12 {
	width: 41.66%;
}

.col-7-12 {
	width: 58.31%;
}

.center-block {
	margin: 0 auto;
	text-align: center;
	float: none;
}

/*--------------------------------------------------------------
>>> 4.0 - Media 
-------------------------------------------------------------- */

figure {
	display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

img {
	max-width: 100%;
}

#about ul {
	list-style: none;
}

#about li a {
	width: 25px;
	height: 25px;
}

#about li {
	padding: 10px 15px 10px 0;
}

#about li:first-child a {
	background: url(../img/icon-fb.png);
}

#about li:last-child a {
	background: url(../img/icon-twitter.png);
}

#about li a:hover {
	background-position: 0 -25px;
}

#bg-image {
	background: url(../img/header-bg-table-and-plants.jpg) no-repeat scroll center;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
    padding: 300px 0 60px;	
	margin: 0;
	width: 100%;
}

div#lemons {
	content: url(../img/lemons.jpg);
}

div#lemons-second {
	content: url(../img/lemons.jpg);
	width: 350px;
    height: 200px;
    margin: 190px 0 0 50px;
}

/*--------------------------------------------------------------
>>> 5.0 UTILITY:
----------------------------------------------------------------*/
#about {
	background-color: #a7a9ac;
} 

footer {
	background-color: #272844;
}

/*--------------------------------------------------------------
>>> 6.0 RESPONSIVE/MEDIA QUERIES:
----------------------------------------------------------------
/*6.2 - SMALL DISPLAY--smaller than tablet*/

@media screen and (max-width: 480px) {
	
	.wrapper {
		width: 98%;
	}
	
	[class*='col-sm-'] {
		float: left;
		padding: 0 10px 20px 10px;
	} 
	
/*--------------------------------------------------------------
>>> TYPOGRAPHY:
----------------------------------------------------------------*/
	
	#bg-image ul, footer p {
		text-align: center;
	}
	
	#about p, #work div, #about h3 {
		text-align: left;
	}
	
	#bg-image .col-3-4 p {
		color: #272844;
		line-height: 30px;
	}
	
	header nav ul li {
		font-size: .85rem;
		display: inline;
	}
	
	p {
		line-height: 24px;
	}
/*--------------------------------------------------------------
>>> 2.0 NAVIGATION MENUS:
----------------------------------------------------------------*/
	
/*--------------------------------------------------------------
>>> 3.0 CONTENT:
----------------------------------------------------------------*/
	
	/*3.1 - Site Structure*/
	
	.col-1-3, .col-2-3 {
		width: 100%;
	}
	
	.col-3-4 {
		width: 75%;
	}

	.col-1-6, .col-1-9 {
		width: 33.33%;
	}
	
	.col-5-6, .col-sm-2-3 {
		width: 66.66%;
	}
	
	.col-1-7, .col-1-12, .col-1-4, [class*='col-lg'] {
		width: 100%;
	}
	
	.col-1-8, .col-1-12 {
		width: 25%;
	}
	
	.col-1-10 {
		width: 50%;
	}
	
	.col-sm-1-3 {
		width: 33.33%;
	}
	
	.col-1-4 {
		width: 35%;
	}
	
	#about section {
		width: 100%;
	}
	
	footer p {
		width: 42%;
		margin-left: 108px;
	}
	
	footer nav ul {
		margin-top: 14px;
	}
	
	#work, #about, footer {
		padding: 50px 0;
	}
	
	#work section, #about section {
		margin-top: 25px;
	}
	
	.center-block, #bg-image .col-3-4 {
		width: 100%;
	}
	
	#bg-image li:last-child {
		padding-right: 0;
	}
	
	header nav ul {
		margin-top: 52px;
	}
	
	header .col-3-4, footer .col-3-4 {
		width: 65%;
	}
	
	#bg-image ul {
		margin-top: 0;
	}
	
	header .col-3-4 {
		padding-bottom: 0;
	}
	
/*--------------------------------------------------------------
>>> 4.0 - Media 
-------------------------------------------------------------- */
	
	#bg-image {
		background: none;
		padding: 50px 0 50px;
	}

} 








